.RegisterContainer{
  background-color: white;
  border: 1px solid blue;
  width: 800px;
  height: 600px;
  display: grid;
  grid-template-columns: 600px;
  grid-template-rows: 60px;
  text-align: center;
}


.RegisterContainerHeading{
  font-size: 30px;
}

.emailDiv{
  margin-top: 20px;
  display: flex-wrap;
  justify-content: center;
  text-align: center;
}

.emailInput{
  width: 350px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  background-color: lightgrey;
  border: 1px solid grey;
  margin-top: 20px;
}

.submit{
  width: 357px;
  height: 50px;
  color: white;
  font-size: 20px;
  text-align: center;
  background-color: lightgreen;
  margin-top: 20px;
}
