.RegisterContainer{
  background-color: white;
  border: 1px solid blue;
  width: 800px;
  height: 600px;
  display: grid;
  grid-template-columns: 400px 200px;
  grid-template-rows: 100px 100px 100px 100px;

}

.usernameDiv{
  background-color: white;
  display: flex-wrap;
  justify-content: center;
  text-align: center;
}

.UsernameHeading{
  font-size: 20px;
}

.UsernameInput{
  width: 350px;
  height: 30px;
  font-size: 20px;
  text-align: center;
}

.usernameDivReqs{
  background-color: red;
}

.emailDiv{
  background-color: white;
  display: flex-wrap;
  justify-content: center;
  text-align: center;
}

.EmailHeading{
  font-size: 20px;
}

.EmailInput{
  width: 350px;
  height: 30px;
  font-size: 20px;
  text-align: center;
}

.emailDivReqs{
  background-color: salmon;
}

.passwordDiv{
  background-color: white;
  display: flex-wrap;
  justify-content: center;
  text-align: center;
}

.PasswordHeading{
  font-size: 20px;
}

.PasswordInput{
  width: 350px;
  height: 30px;
  font-size: 20px;
  text-align: center;
}

.passwordDivReqs{
  background-color: cornflowerblue;
}

.submitDiv{
  background-color: white;
  display: flex-wrap;
  justify-content: center;
  text-align: center;
}

.RegisterSubmit{
  width: 175px;
  height: 30px;
  font-size: 20px;
  margin-top: 20px;

}

.submitDivReqs{
  background-color: blue;
}
