body{
  background-color: lightgrey;
}

.header{
  display: flex;
  justify-content: center;
  background-color: cornflowerblue;
  height:30px;
  padding-top: 10px; 
}

.navbar{
  display: flex-wrap;
  justify-content: center;
  max-width: 100px;
  text-align: center;

}

