.header-container{
  background-color: #458985;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 100px;
  width: 100%;
  margin: 0 auto;
}


.add-widget-image{
  flex-direction: row;
  margin-bottom: 0;
  max-width: 5.75rem;
  border-radius: 100px;
  filter: invert(30%);
}

.idea-input{

  width: 25rem;
  height: 50px;
  border: transparent;
  text-align: center;
  font-size: 3rem;
}

.title{
  font-family: Rajdhani;
  margin-right: 3rem;
  color: white;

}




